.bank-info-modal ul {
    height: 100%;
    margin-top:4rem;
    width: 100%;
}
.bank-info-modal ul li {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #343438;
}
.newinput .input-text {
    display: inline-block;
    vertical-align: top;
    width: 0.6rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: right;
    font-size: 0.45rem;
    color: white;
}
.bank-info-modal ul li input {
    display: inline-block;
    vertical-align: middle;
    border: none;
    padding: 0;
    width: 5rem;
    height: 1.5rem;
    color: #fdbe19;
    background: transparent;
    font-size: 0.45rem;
    line-height: 1.5rem;
    margin: 0 0 0 0.3rem;
    overflow: hidden;
}
 .button-bar {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height:1.3rem;
    line-height: 1.3rem;
    position: absolute;
}
.button {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #ece5e5;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 49%;
    border-width: 0;
    /* border-style: solid; */
    border-radius: 0;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 0.45rem;
    line-height: 1.3rem;
}
 .button-bar .button-balanced {
     background-color: rgb(185, 60, 65);
}
.button-bar .button-dark {
    background-color: rgb(38, 40, 52);
}