<extend name="Base/common"/>
<block name="content">
<style type="text/css">
	.col-md-6{ width:100%;}
	.form-horizontal { width:500px;}
</style>
	<div class="main sidebar-minified">
		<div class="row">
			    <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>
							基本设置
			                </strong></h2>
			            </div>
			            <form action="{:U('Money/base')}" method="post" enctype="multipart/form-data" class="form-horizontal">
						<div class="panel-body">
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input"0>手续费返佣(%)</label>
				                    <div class="col-md-9">

				                        <input type="text"  name="feerebate" class="form-control" value="{$list.feerebate}"  style="width:200px;">
				                    </div>
				                </div>
				           
						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
	                        <a onclick="window.history.go(-1)"><button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 返回</button></a>
		                </div>	
		                </form>
			        </div>	
			    </div>
				
			 
			        </div>
	</div>
</block>