<extend name="Base/common"/>
<block name="content">
<div class="main sidebar-minified">
<style type="text/css">
	.datatable,.datatable th{text-align:center;}
</style>
<!--/row-->
<div class="row">		
	<div class="col-lg-12">
		<div class="container-fluid">
			<div id="pad-wrapper" class="users-list" style="padding:0px; margin-top:25px;">
				<div class="row-fluid header">
				</div>
				<!-- Users table -->
				<br />
				<div class="row-fluid table">
					<!--//这个地方动态加载-->
					<div class="panel-heading">
						<h2><i class="fa fa-table red"></i><span class="break"></span><strong>当前持仓</strong></h2>
						<div style="display: inline-block; margin-left: 20px">
							<form id="cuntomerfrom"  method="get" action="{:U('Agent/agent_one')}">
								<span>用户名：</span><input type="text" value="{$Think.get.search}" name="search">
								<span>订单编号：</span><input type="text" value="{$Think.get.search}" name="search">
								<span>产品：</span>
								<select>
									<option>默认不选</option>
								</select>
								<span>订单类型：</span>
								<select>
									<option>默认不选</option>
								</select>
								<span>起始时间：</span><input type="text" id="StartTime" name="StartTime" value="{$Think.get.StartTime}" onclick="return showCalendar('StartTime', 'y-mm-dd');"  />
								<span>结束时间：</span><input type="text" id="EntTime" name="EntTime" value="{$Think.get.EntTime}" onclick="return showCalendar('EntTime', 'y-mm-dd');"  />
								<a class="btn btn-danger" id="cuntomerbut">
									<i class="fa">搜索</i> 
								</a>
							</form>
						</div>
					</div>
					<table class="table table-hover">
						<thead>
						<tr>
							<th class="span1 sortable" style="font-size:14px;">
								统计汇总
							</th>
							<th class="span2 sortable" style="font-size:14px;">
								<span class="line"></span>佣金总额：<font color="red">{$total_trade_amount|default=0}</font>元
							</th>
							<th class="span2 sortable" style="font-size:14px;">
								<span class="line"></span>手续费：<font color="red">{$total_fee|default=0}</font>元
							</th>
							<th class="span2 sortable" style="font-size:14px;">
								<span class="line"></span>持仓笔数：<font color="red">{$total|default=0}</font>
							</th>
						</tr>
						</thead>
					</table>
				</div>

				<div class="row-fluid table">
					<!--//这个地方动态加载-->
					<table class="table table-hover">
						<div class="qjcz">
							<thead>
							<tr>
								<th class="span2 sortable">
									<span class="line"></span>编号
								</th>
								<th class="span3 sortable">
									<span class="line"></span>用户
								</th>
								<th class="span3 sortable">
									<span class="line"></span>下单时间
								</th>
								<th class="span2 sortable">
									<span class="line"></span>产品信息
								</th>
								<th class="span1 sortable">
									<span class="line"></span>类型
								</th>
								<th class="span1 sortable">
									<span class="line"></span>方向
								</th>
								<th class="span1 sortable">
									<span class="line"></span>手续费
								</th>
								<th class="span1 sortable">
									<span class="line"></span>买价
								</th>
								<th class="span2 sortable">
									<span class="line"></span>佣金
								</th>
							</tr>
							</thead>
							<tbody id="ajaxback">
							<volist name="order_info" id="tl">
								<tr class="first">
									<td style="text-align: left;">
										{$tl.orderno}
									</td>
									<td style="text-align: left;">
										<a href="javascript:;">{$tl['username']?$tl['username']:$tl['nickname']}</a>
									</td>
									<td>{$tl.buytime|date='Y-m-d H:i:s',###}</td>
									<td>
										{$tl.ptitle}
									</td>

									<td>
										<span class="label" style="color:#f00;">持仓</span>
									</td>
									<td>
										{$tl['ostyle']==1?"<font color='#61be37'>跌</font>":"<font color='#f00'>涨</font>"}
									</td>

									<td>
										{$tl['fee']?$tl['fee']:0} 元
									</td>
									<td>
										{$tl['buyprice']?$tl['buyprice']:0} 元
									</td>
									<td>
										{$tl['trade_amount']?$tl['trade_amount']:0} 元
									</td>
								</tr>
							</volist>
							</tbody>
					</table>

				</div>
			</div>
			<div class="pagination pull-right">
				<div class="pagelist">{$page}</div>
			</div>
			<!-- end users table -->
		</div>
		</div>
	</div><!--/col-->
</div><!--/row-->
 </block>