<extend name="Base/common"/>
<block name="content">
<style type="text/css">
	.datatable,.datatable th{text-align:center;}
</style>
<script type="text/javascript" src="__JS__/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="__CSS__/layui/css/layui.css">
<script type="text/javascript" src="__CSS__/layui/layui.js"></script>
<div class="main sidebar-minified">
<!--/row-->
			<div class="row">		
				<div class="col-lg-12">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>佣金流水</strong></h2>
							<div style="display: inline-block; margin-left: 20px">
								<form id="cuntomerfrom"  method="get" action="{:U('flow')}">
								<span>用户名：</span><input type="text" name="username" value="{$sea.username}">

                                <span>代理1</span>
                                <select class='ajax_select' style="width:100px;border:10px;height:36px" name="puhui_id" id="puhui_id">
                                    <option value="">请选择</option>
                                    <volist name="daili" id="vo">
                                    <option value="{$vo.uid}">{$vo.username}</option>
                                    </volist>
                                </select>
                                <input type="hidden" class="puhui_id" value="{$sea.puhui_id}">

<!--                                 <span>代理2</span>
                                <select class='ajax_select' style="width:100px;border:10px;height:36px" name="jid" id="jid">
                                    <option value="">请选择</option>
	                               	<volist name="jidinfo" id="vo">
                                    <if condition="$vo['uid'] neq ''">
                                    	<option value="{$vo['uid']}" <?php if($vo['uid'] == $_GET['jid']){echo "selected='selected'";}?>>{$vo['username']}</option>
                                    </if>
                                	</volist>
                                </select> -->

									<span>起始时间：</span><input class="span6 search input_width" style="width: 150px;" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['starttime']}" name="starttime">
									<span>结束时间：</span><input class="span6 search input_width" style="width: 150px;" placeholder="结束时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="{$sea['endtime']}" name="endtime">

									<a class="btn btn-danger" id="cuntomerbut">
										<i class="fa">搜索</i> 
									</a>
								</form>
							</div>
							<div class="panel-actions">
								<a href="" ><i class="fa fa-rotate-right"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr> 
                                      <th style="text-align:center">流水编号</th>
									  <th style="text-align:center">用户名[会员单位]</th>
                                      <th style="text-align:center">手机号码</th>
									  <th style="text-align:center">用户级别</th>
									  <th style="text-align:center">购买产品</th>
									  <th style="text-align:center">佣金收益</th>
									  <th style="text-align:center">总费用</th>
									  <th style="text-align:center">佣金比例</th>
									  <th style="text-align:center">是否发放</th>
									  <th style="text-align:center">购买人</th>
									  <th style="text-align:center">发放时间</th>
								  </tr>
							  </thead>   
							  <tbody>
							  <volist name="rows" id="vo">
									<tr>
										<td>{$vo.id}</td>
	                                    <td>{$vo.username}[{$vo.unit_name}]</td>
	                                    <td>{$vo.utel}</td>
			                            <td>
			                                <if condition="$vo.class eq 1">
			                                    一级用户
			                               <elseif condition="$vo.class eq 2"/>
			                                    二级用户
			                                <else />
			                                    三级用户
			                                </if>
			                            </td>
										<td>{$vo.ptitle}</td>
										<td>￥{$vo.profit}</td>
										<td>￥{$vo.fee}</td>
										<td>{$vo.rate}</td>
										<td>                               
										 <eq name="vo.status" value="1">
		                                    已发放
		                                <else/>
		                                    未发放
		                                </eq>
                                		</td>
                                		
										<td>{$vo.purchaser_username}</td>
										<td>{:date('m-d H:i:s',$vo['create_time'])}</td>
									</tr>
								</volist>
							  </tbody>
						  </table> 						
						 <div class="pagelist">{$page}</div>						 
						</div>
					</div>
				</div><!--/col-->
			
			</div><!--/row-->
   
		</div>
<script>
	function handle(uid,idea){
		var alert_msg = '确定同意该会员的申请？';
		if(idea == 0){
			alert_msg = '确定拒绝该会员的申请?';
		}
		var rs_comfird = confirm(alert_msg);
		if(rs_comfird){
			$.get(
					"handle_apply",
					{"uid":uid,"idea":idea},
					function(data){
						alert(data.msg);
						window.location.reload();
					}
			);
		}


	}
	function showpre(uid)
	{
		var StartTime = $("#StartTime").val();
		var EntTime = $("#EntTime").val();
		$.ajax({
			type: "post",
			url:"{:U('Account/showpre')}",
			data:{"uid":uid,"StartTime":StartTime,"EntTime":EntTime},
			dataType:"json",
			success:function(data)
			{	
				if(!data.sumyk){
					alert("无任何交易信息");
				}else{
					alert("该用户总充值"+data.sumbla+"元,交易总盈亏是："+data.sumyk+"元,交易总手续费是"+data.sumsxf+'元');
				}
			},
			error: function(data) {  
				//alert(data);
			}
		});
	}

//日期选择时间
layui.use('laydate', function(){
  var laydate = layui.laydate;
});


$('#puhui_id').change(function(){
    var id = $(this).val();
    $.ajax({
        type: "GET",
        url: "{:U("ajax_get_brokers")}",
        data: {'id':id},
        success: function(data){
            var html = '';
            html +='<option value="">默认不选</option>';
            for (x in data) {
                    html +="<option value=\""+data[x]['uid']+"\">"+data[x]['username']+"</option>"
            }
            $("#jid").html(html);
        }
   });
});

var puhui_id = $(".puhui_id").val();
$("#puhui_id option").each(function(){
    if(puhui_id == $(this).val()){
        $(this).attr('selected',true);
    }
});

</script>
 </block>