<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="__CSS__/yongli/base.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/yongli/nameAndBank.css">
    <link href="__CSS__/yongli/password_retrieval.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__JS__/yongli/jquery.min.js"></script>
    <script type="text/javascript"  src="__JS__/yongli/rem.js"></script>
    <script type="text/javascript" src="__JS__/layer/layer.js"></script>
    <title>修改密码</title>
</head>
<body>
<header class="page-header">
    <div class="content">
        <div class="left">
            <a class="back" href="javascript:window.history.back();">&nbsp;</a>
        </div>
        <h3 class="back " id="head-name">修改密码</h3>
    </div>
</header>
    <section class="wrap-page ">
        <div class="scroll bank-info-modal" style="transform: translate3d(0px, 0px, 0px) scale(1);">
            <ul>
                <li class="newinput">
                    <span class="input-text" style="width: 3rem;">旧密码</span>
                    <input type="password" placeholder="输入旧密码"  class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="used_password">
                </li>
                <li class="newinput">
                    <span class="input-text" style="width: 3rem;">新密码</span>
                    <input type="password" placeholder="输入新密码"  class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="new_password">
                </li>
                <li class="newinput">
                    <span class="input-text" style="width: 3rem;">确认新密码</span>
                    <input type="password" placeholder="再输入一次新密码"  required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="news_password">
                </li>
            </ul>
        </div>
    </section>
    <div class="button-bar">
        <a class="button button-balanced" id="submit">确定</a>
        <a class="button button-dark" href="{:U('index')}">关闭</a>
    </div>
</body>
</html>

<script type="text/javascript">

$("#submit").click(function(){

    var index = layer.load(1, {
    shade: [0.1,'#fff'] //0.1透明度的白色背景
    });

    var used_password  = $("#used_password").val();
    var new_password   = $("#new_password").val();
    var news_password  = $("#news_password").val();

    $.ajax({

        url:"{:U('password_retrieval')}",
        dataType: 'json',
        type: 'post',
        data: {'used_password':used_password,'new_password':new_password,'news_password':news_password},
        success:function(data){

            if(data.status === 0){
                layer.close(index);
                layer.msg(data.msg);
                return false;
            }

            if(data.status === 1){
                layer.close(index);                     
                layer.msg(data.msg);
                window.setTimeout("window.location='{:U('User/Index')}'",1000);
                return false;
            }
        }
    });
});
</script>