<extend name="Base/common"/>
<block name="content">
<div class="main sidebar-minified">
	<script src="/Public/Ucenter/js/jquery-2.1.1.min.js"></script>
	<style type="text/css">
	.datatable,.datatable th{text-align:center;}
</style>
<!--/row-->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">

						<div class="panel-body">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>订单编号</th> <th>用户[上级]</th> <th>电话</th> <th>操作时间</th> <th>产品</th>
									 <th>状态</th>  <th>金额</th> <th>手续费</th><th>入仓价</th> <th>当前价格</th><th>盈亏</th><th>结算时间</th>

								  </tr>
							  </thead>
							  <tbody>
							  <foreach name="holding" item="vo" >
									<tr class="holding" optionid='{$vo.data_now_id}' trade_point='{$vo.buyprice}' trade_amount='{$vo.trade_amount}' odds='{$vo.odds}' trade_direction='{$vo.ostyle}' isowner="{$vo.isowner}">
										<td>{$vo.orderno}</td>
		                                <td>{$vo.username}[{$vo.managername}]</td>
										<td>{$vo.utel}</td>
										<td>{$vo.buytime|date='Y-m-d H:i:s',###}</td>
										<td>{$vo.ptitle}</td>
										<if condition="$vo.ostyle eq 0">
										<td>涨</td> <else/> <td>跌</td>
										</if>
										<td>{$vo.trade_amount}</td>
										<td>{$vo.fee}</td>
		                                <td>{$vo.buyprice}</td>
		                                <td class="new">{$vo.jsellprice|default=0}</td>
										<td class="iswin">{$vo.jploss|default=0}</td>
										<td >
											<if condition="$vo.order_type eq 2">
												<input style='display:none' class='lefttime' orderid='{$vo.orderno}' lefttime='{$vo.lefttime}'>
												<strong class="fr" style="display:block">时间<span class="green" id='span_{$vo.orderno}'></span></strong>
											<else/>
												<strong class="fr" style="display:block">点位{$vo['buyprice']+$vo['minute']}点/{$vo['buyprice']-$vo['minute']}点 </strong>
											</if>
										</td>
									</tr>
								</foreach>



							  </tbody>
						  </table>

						   <div class="pagelist">{$show}</div>
						</div>
					</div>
				</div><!--/col-->

			</div><!--/row-->

		</div>
<script>
function sub()
{
	$('#tradefrom').attr("action","__URL__/daochu");
	$('#tradefrom').submit();
	$('#tradefrom').attr("action","__URL__/tlist");

}
</script>
<script>

		$(function() {
			function updateInfo() {
				holding = $('.holding');
				console.log(holding);
				//ajax
				$.ajax({
					type: "GET",
					url: "/Home/ajax/HoldingPrice",
					dataType: "json",
					success: function(data){
						optionlist = {};
						for (var i = data.length - 1; i >= 0; i--) {
							optionlist[data[i].id] = data[i].last;
						}

						holding.each(function() {
							optionid = this.getAttribute("optionid");

							trade_point = parseFloat(this.getAttribute('trade_point'));

							trade_direction = this.getAttribute('trade_direction');
							trade_amount = this.getAttribute('trade_amount');
							odds = this.getAttribute('odds');
							objpoint = this.getElementsByClassName('new')[0];//当前价格
							objiswin = this.getElementsByClassName('iswin')[0];//赢或亏的价格数量
							currentpoint = parseFloat(optionlist[optionid]);
							if(currentpoint > 0){
								objpoint.innerHTML = currentpoint;

								if (trade_point == currentpoint) {

									objiswin.innerHTML = '<span class="yingkui" style="margin:0;line-height:1rem">平：</span><span style="margin:0;color:#FF3D01;font-size:0.5rem;font-weight:bold;" class="money">0</span>';

								} else if (currentpoint > trade_point && trade_direction == 0) {
									var isowner=odds*trade_amount;
									isowner = isowner.toFixed(2);

									objiswin.innerHTML = '<span class="yingkui" style="margin:0;line-height:1rem">盈：</span><span style="margin:0;color:#FF3D01;font-size:0.5rem;font-weight:bold;" class="money">'+isowner+'</span>';
								} else if (currentpoint < trade_point && trade_direction == 1) {
									var isowner=odds*trade_amount;
									isowner = isowner.toFixed(2);

									objiswin.innerHTML = '<span class="yingkui" style="margin:0;line-height:1rem">盈：</span><span style="margin:0;color:#FF3D01;font-size:0.5rem;font-weight:bold;" class="money">'+isowner+'</span>';

								} else {

									objiswin.innerHTML = '<span class="yingkui" style="margin:0;line-height:1rem">亏：</span><span style="margin:0;color:#2B8A2D;font-size:0.5rem;font-weight:bold;" class="money">'+trade_amount+'</span>';
								}
							}
						})

					}

				});

			}
			updateInfo();
			setInterval(updateInfo,1000);



			handleLefttime();
			setInterval(handleLefttime,1000);
			function handleLefttime() {

				lefttimes = $('.lefttime');
				for (var i = lefttimes.length - 1; i >= 0; i--) {
					lefttimeobj = lefttimes[i];
					lefttime = lefttimeobj.getAttribute('lefttime');
					ltid = lefttimeobj.getAttribute('orderid');
					lefttime = lefttime - 1;
					if (lefttime < 1) {
						var status = {$status};
						if(status == 2){

						}else{
//							setTimeout("location.reload();",1500);
							$(lefttimes[i]).parents(".holding").css("display","none");
						}

						continue;
					}
					if(lefttime<0){
						lefttime = 0
					}
					lefttimeobj.setAttribute('lefttime', lefttime);

					span = $('#span_' + ltid);
					span.html(lefttime + '秒');
				}

			}

		});
	</script>
 </block>