<extend name="Base/common"/>
<block name="content">
<!-- this page specific styles -->
<link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen">
<div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>运营中心列表</h3>
                    <div class="span10 pull-right" style="margin-bottom: 10px">
                        <!-- custom popup filter -->
                        <!-- styles are located in css/elements.css -->
                        <!-- script that enables this dropdown is located in js/theme.js -->
                        <div class="ui-dropdown">
                            <div class="head" data-toggle="tooltip" title="点我">
                                搜索
                                <i class="arrow-down"></i>
                            </div>
                            <div class="dialog">
                                <div class="pointer">
                                    <div class="arrow"></div>
                                    <div class="arrow_border"></div>
                                </div>
                                <div class="body">
                                    <p class="title">
                                        选择过滤条件:
                                    </p>
                                    <div class="form">
                                    <select name="key" id="sxkey">
                                        <option value="uid"/>编号
                                        <option value="username"/>机构编号
                                        <option value="utel"/>手机号码
                                        <option value="otype"/>类型
                                        <option value="utime"/>注册时间
                                        <option value="balance"/>账户余额
                                    </select>
                                    <select name="formula" id="formula">
                                        <option value="eq"/>等于
                                        <option value="neq"/>不等于
                                        <option value="gt"/>大于
                                        <option value="lt"/>小于
                                        <option value="bh"/>包含
                                        <option value="bbh"/>不包含
                                    </select>
                                    <input type="text" value="" name="sxvalue" id="sxvalue" placeholder="亲！请按格式输入"/>
                                    <a class="btn-flat small" urlkey="sxsearch" id="sxsearch">开始过滤</a>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Users table -->
                <div class="row-fluid table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="span1 sortable">
                                    编号
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>机构编号
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>手机号码
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>创建日期
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>上级
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>公司名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>最近登录时间
                                </th>
                                <th class="span1 sortable">
                                    <span class="line"></span>订单数量
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>账户余额
                                </th>
                                <th class="span1 sortable">
                                    <span class="line"></span>返佣比例
                                </th>
                                <th class="span1 sortable">
                                    <span class="line"></span>客户状态
                                </th>
                                <th class="span1 sortable">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="ajaxback">
                        <volist name="ulist" id="ult">
                        <!-- row -->
                        <tr class="first">
                            <td>
                                {$ult['uid']}
                            </td>
                            <td>
                                <a href="{:U('User/ulist')}?operate={$ult['uid']}">{$ult['username']}</a>[<a href="{:U('Agentlist/save_name')}?uid={$ult['uid']}&url=Operation/mlist">修改</a>]
                            </td>
                            <td>
                                {$ult['utel']}
                            </td>
                            <!--td>
                                {$ult['address']}
                            </td>
                            <td>
                                <img src="__IMG__/contact-img.png" class="img-circle avatar hidden-phone" />
                            </td-->
                            <td>
                                {$ult['utime']|date='Y-m-d',###}
                            </td>
                            <td>
                                {$ult.managername}
                            </td>
                            <td>
                                {$ult.comname}
                            </td>
                            <td>
                                {$ult['utime']|date='Y-m-d H:i:m',###}
                            </td>
                            <td>
                                <if condition="$ult['ocount'] eq 0">
                                    0
                                <else/>
                                    <a href="">{$ult['ocount']}</a>
                                </if>
                            </td>
                            <td>
                                <font color="#f00" size="4">￥{$ult['balance']}<font>
                            </td>
                            <td>
                                {$ult['feerebate']}%
                            </td>
                            <td>
                                <if condition='$ult["ustatus"] eq 0'>
                                    正常
                                    <else/>
                                    已冻结
                                </if>
                            </td>
                            <td>
                                <ul class="actions">
                                    <li><a href="{:U('Operation/mupdate',array('uid'=>$ult['uid']))}"><i class="table-edit"></i></a></li>
                                    <if condition="$ult['ustatus'] eq 0">
                                        <li class="last"><a href="#" onclick="upstatus({$ult['uid']},1)" value="{$ult['uid']}">冻结</a></li>
                                    <else/>
                                        <li class="last"><a href="#" onclick="upstatus({$ult['uid']},0)" value="{$ult['uid']}">解冻</a></li>
                                    </if>
                                    <if condition="$ult['num'] eq 0">
                                        <li class="last"><a href_dara="{:U('User/delete_mem')}?uid={$ult['uid']}&url=Operation/mlist" class='a_delete' value="{$ult['uid']}">删除</a></li>
                                    </if>
                                   <!-- <li class="last"><a href="{:U('User/userdel',array('uid'=>$ult['uid']))}" onclick="if(confirm('确定要删除吗?客户账户请谨慎操作！')){return true;}else{return false;}"><i class="table-delete"></i></a></li>-->
                                </ul>
                            </td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="qjcz">
                    截止<script type="text/javascript">var myDate = new Date();document.writeln(myDate.getFullYear()+'年'+(myDate.getMonth()+1)+'月'+myDate.getDate()+'日');</script>，共有<font color="#f00" size="4">{$ucount}</font>个会员完成注册，交易数量已达<font color="#f00" size="4">{$ocount}</font>手，所有账户余额累计<font color="#f00" size="5">{$anumber}</font>元
                </div>
                </div>
                <div class="pagination pull-right">
                    <ul>
                        {$page}
                    </ul>
                </div>
                <!-- end users table -->
            </div>
        </div>
<!-- scripts -->
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
    $(function(){
        $('a.a_delete').click(function(){
            if (confirm("您确定删除吗？")) {
                window.location.href = $(this).attr('href_dara');
            }
            else {
                alert("点击了取消");
            }
        })
    })
    /*$(document).ready(function(){
        var eqli = $("#dashboard-menu").children().eq(9);
        eqli.attr('class','active');
        $("#dashboard-menu .active .submenu").css("display","block");
    });*/

    $('#top_search').keyup(top_serch);
    $('#sxsearch').click(top_serch);
    //搜索结果，ajax返回搜索框搜索结果
    function top_serch(){
        //获取点击参数
        var urlkey = $(this).attr("urlkey");
        //获取文本框值
        var keywords = $("#top_search").val(),
            sxkey = $("#sxkey  option:selected").val(),
            formula = $("#formula  option:selected").val(),
            sxvalue = $("#sxvalue").val();
        //重新定义提交url
        var newurl = "";
        if(urlkey == "search"){
            newurl = "{:U('mlist?step=search')}"
        }
        if(urlkey == "sxsearch"){
            newurl = "{:U('mlist?step=sxsearch')}"
        }
        $.ajax({
            type: "post",
            url: newurl,
            data:{"keywords":keywords,"sxkey":sxkey,"formula":formula,"sxvalue":sxvalue},
            success: function(data) {
                //console.log(data);
                if(data=="null"){
                    //$("#loading").hide();
                    $("#ajaxback").html('<tr class="first"><td colspan="13">没有找到结果，请重新输入！</tr></td>');
                }else{

                    $ulist = "";
                    $.each(data,function(no,items){
                        var ustatus = '';
                        if (items.ustatus == 0) {
                            ustatus = '正常';
                        } else {
                            ustatus = '已冻结';
                        }
                        if(items.ustatus==0){
                            var handle = "<a href=\"#\" onclick=\"upstatus({$ult['uid']},1)\" value=\"{$ult['uid']}\">冻结</a>";
                        }else{
                            var handle = "<a href=\"#\" onclick=\"upstatus({$ult['uid']},0)\" value=\"{$ult['uid']}\">冻结</a>";
                        }
                        $ulist += '<tr class="first">';
                        $ulist += '<td>'+items.uid+'</td>';
                        $ulist += '<td><a href="{:U(\'Operation/mupdate\')}?uid='+items.uid+'">'+items.username+'</a>[<a href="{:U(\'Agentlist/save_name\')}?uid='+items.uid+'&url=Operation/mlist">修改</a>]</td>';
                        $ulist += '<td>'+items.utel+'</td>';
                        $ulist += '<td>'+items.utime+'</td>';
                        if(items.managername)
                        {
                            $ulist += '<td>'+items.managername+'</td>';
                        }else{
                            $ulist += '<td>'+'--'+'</td>';
                        }
                        $ulist += '<td>'+items.comname+'</td>';
                        $ulist += '<td>'+items.utime+'</td>';
                        if(items.ocount=='0'){
                            $ulist += '<td>0</td>';
                        }else{
                            $ulist += '<td><a href="">'+items.ocount+'</a></td>';
                        }
                        $ulist += '<td><font color="#f00" size="4">￥'+items.balance+'<font></td>';
                        $ulist += '<td>'+items.feerebate+'%</td>'
                        $ulist += '<td>'+ustatus+'</td>';
                        $ulist += '<td><ul class="actions">';
                        $ulist += '<li><a href="{:U(\'Operation/mupdate\')}?uid='+items.uid+'"><i class="table-edit"></i></a></li>';
                        $ulist += '<li class=\"last\">'+handle+'</li>';
                        $ulist += '</ul></td>';
                        $ulist += '</tr>';
                    })
                    $("#ajaxback").html($ulist);
                }
            },
            error: function(data) {
                console.log(data);
            }
          })
    }

    $("#sxkey").bind("change",function(){
        var sxkey = $(this).val();
        switch(sxkey){
            case "uid":
                $("#sxvalue").attr("placeholder","格式：不允许汉字");
                break;
            case "username":
                $("#sxvalue").attr("placeholder","格式：雁过留痕");
                break;
            case "utel":
                $("#sxvalue").attr("placeholder","格式：15022220000");
                break;
            case "otype":
                $("#sxvalue").attr("placeholder","格式：会员/经纪人");
                break;
            case "utime":
                $("#sxvalue").attr("placeholder","格式：1970-10-01");
                break;
            case "balance":
                $("#sxvalue").attr("placeholder","格式：不允许汉字");
                break;
            default:
                $("#sxvalue").text("输入内容");
        }

    })
    function upstatus(id,type){

        if(confirm('确定要进行该操作吗？')){
           $.post("{:U('upstatus')}", { "type":type,"id":id },
              function(data){
                  alert(data.info); // John
                  if(data.state==1){
                     window.location.reload();//刷新当前页面.
                  }
               });
        }else{
          return false;
        }
    }
</script>
<script type="text/javascript">
        function freeze(id){

    }
    $(".fange").on('keyup',function(e){
        var frozen = ($(this).val());
        var ruaId = $(this).parents('.first').children().eq(0).text().trim();
        console.log(ruaId);
        $.post("__URL__/freeze",{"frozen":frozen,"id":ruaId},function(){

        })
    })
</script>
</block>