<extend name="Base/common"/>
<block name="content">
	<!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/order-list.css" type="text/css" media="screen" />
    <link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />


    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list" style="padding:0px; margin-top:25px;">
            <div class="row-fluid header">
				<form id="form1" action="__URL__/tlist" method="get">
                <h3 style="height:40px; line-height:40px; width: 100%">成交明细</h3>
                <div class="span10 pull-left" style="margin-left:0px;">
                    <div class="tpsearch" style="width: 25%">
                    	订单编号：<input type="text" value="{$sea.jno}" class="span6 search input_width" style="width:150px;" placeholder="请输入订单编号查找..." name="orderno" id="orderno"/>
                    </div>
                    <div class="tpsearch" style="width: 25%">
                    	用户名称：<input type="text" value="{$sea.username}" class="span6 search" style="width:150px;" placeholder="请输入用户名称查找..." name="username" id="username"/>
                    </div>
                    <div class="tpsearch" style="width: 25%">
                    	开始时间：<input type="text" value="{$sea.starttime}" class="input-large datepicker" style="margin-bottom: 0;width: 135px; height: 20px;" name="starttime" id="starttime">
                    </div>
					<div class="tpsearch" style="width: 25%">
                    	结束时间：<input type="text" value="{$sea.endtime}" class="input-large datepicker" style="margin-bottom: 0;width: 135px; height: 20px;" name="endtime" id="endtime">
                    </div>
                </div>
                <div class="span10 pull-left margin-left-css" style="margin-top: 20px;margin-left:0px;">

					<div class="tpsearch" style="width: 25%">
						电话号码：<input type="text" value="{$sea.tel}" class="span6 search input_width" style="width:150px;" placeholder="电话号码" name="tel" id="tel"/>
					</div>

					<div class="tpsearch" style="width: 25%">
                    	订单类型：<select id="ostyle" class="span6" name="ostyle" style="width:150px;">
                    				<option value="">默认不选</option>
									<if condition="$sea.ostyle eq '0'">
	                                <option value="0" selected>买涨</option>
									<else/>
									<option value="0">买涨</option>
									</if>
									<if condition="$sea.ostyle eq '1'">
	                                <option value="1" selected>买跌</option>
									<else/>
									<option value="1">买跌</option>
									</if>
                    			</select>
                    </div>
                     <div class="tpsearch" style="width: 25%">
                    	订单盈亏：<select id="ploss" class="span6" name="ploss" style="width:150px;">
                    				<option value="">默认不选</option>
									<if condition="$sea.ploss eq '0'">
	                                <option value="0" selected>亏损</option>
									<else/>
									<option value="0">亏损</option>
									</if>
									<if condition="$sea.ploss eq '1'">
	                                <option value="1" selected>盈利</option>
									<else/>
									<option value="1">盈利</option>
									</if>
										<if condition="$sea.ploss eq '2'">
	                                <option value="2" selected>平局</option>
									<else/>
									<option value="2">平局</option>
									</if>
                    			</select>
                    </div>
                    
					<div class="tpsearch" style="width: 25%">
                    	会员单位：<select name="oid" id="oid" class="span7" style="width:150px;">
                    				<option value="">默认不选</option>
									<foreach name="huilist" item="vo">
										<php>
										if($sea['oid'] == $vo['uid']){
										</php>
										<option value="{$vo.uid}" selected>{$vo.username}</option>
										<php>}else{</php>
										<option value="{$vo.uid}">{$vo.username}</option>
										<php>}</php>
									</foreach>
                    			</select>
                    </div>
        			<div class="tpsearch" style="width: 25%;margin-top:20px;">
                    	普通会员：<select name="puhui_id" id="puhui_id" class="span7" style="width:150px;">
                    				<option value="">默认不选</option>
									<foreach name="puhuilist" item="vo">
										<php>
										if($sea['puhui_id'] == $vo['uid']){
										</php>
										<option value="{$vo.uid}" selected>{$vo.username}</option>
										<php>}else{</php>
										<option value="{$vo.uid}">{$vo.username}</option>
										<php>}</php>
									</foreach>
                    			</select>
                    </div>
					<div class="tpsearch" style="width: 25%;margin:20px 0px 20px">
                    	经 纪 人：<select name="jid" id="jid" class="span7" style="width:150px;">
                    				<option value="">默认不选</option>
									<foreach name="jlist" item="vo">
										<php>
										if($sea['jid'] == $vo['uid']){
										</php>
										<option value="{$vo.uid}" selected>{$vo.username}</option>
										<php>}else{</php>
										<option value="{$vo.uid}">{$vo.username}</option>
										<php>}</php>
									</foreach>
                    			</select>
                    </div>
					<div class="tpsearch" style="width: 25%;margin:20px 0px 20px">
						特 会：<select name="tehui" id="th" class="span7" style="width:150px;">
						<option value="">默认不选</option>
						<foreach name="thlist" item="vo">
							<php>
								if($sea['tehui'] == $vo['uid']){
							</php>
							<option value="{$vo.uid}" selected>{$vo.username}</option>
							<php>}else{</php>
							<option value="{$vo.uid}">{$vo.username}</option>
							<php>}</php>
						</foreach>
					</select>
					</div>
					<div class="tpsearch" style="width: 25%;margin:20px 0px 20px">
						运营中心：<select name="yid" id="yid" class="span7" style="width:150px;">
						<option value="">默认不选</option>
						<foreach name="yylist" item="vo">
							<php>
								if($sea['yid'] == $vo['uid']){
							</php>
							<option value="{$vo.uid}" selected>{$vo.username}</option>
							<php>}else{</php>
							<option value="{$vo.uid}">{$vo.username}</option>
							<php>}</php>
						</foreach>
					</select>
					</div>
					<div class="tpsearch" style="margin:20px 0px 20px;">
						<a href="javascript:void(0)" class="btn-flat info" style="background: #3389d1; border: none;" onclick="javascript:$('#form1').submit();">开始查找</a>
						<a href="javascript:void(0)" class="btn-flat info" style="background: #3389d1; border: none;" onclick="sub()">查找导出</a>
					</div>
                </div>
				</form>
            </div>
            <!-- Users table -->
            <br />
            <div class="row-fluid table">
                <!--//这个地方动态加载-->
                <table class="table table-hover">
                <thead>
                        <tr>
                        	<th class="span1 sortable" style="font-size:14px;">
                        		统计汇总
                        	</th>
                            <th class="span2 sortable" style="font-size:14px;">
                                <span class="line"></span>有效流水金额：<font color="red">{$sumbuymoney|default=0}</font>元
                            </th>
                            <th class="span2 sortable" style="font-size:14px;">
                                <span class="line"></span>盈亏：<font color="red">{$sumploss|default=0}</font>元
                            </th>
                            <th class="span2 sortable" style="font-size:14px;">
                                <span class="line"></span>手续费：<font color="red">{$sumfee|default=0}</font>元
                            </th>
                            <th class="span2 sortable" style="font-size:14px;">
                                <span class="line"></span>平仓笔数：<font color="red">{$total_pc|default=0}</font>
                            </th>
                            <th class="span2 sortable" style="font-size:14px;">
                                <span class="line"></span>推广费用：<font color="red">{$rebate|default=0}</font>元
                            </th>
                        </tr>
                    </thead>
                </table>
           </div>
            
            <div class="row-fluid table">
                <!--//这个地方动态加载-->
                <table class="table table-hover">
                 		<div class="qjcz">
<!-- 					<span style="margin-right:30px;float:right">有效流水金额：<i style="color:red">{$sumbuymoney|default=0}元</i> -->
<!-- 					 总盈亏：<i style="color:red">{$sumploss|default=0}元</i>   -->
<!-- 					总手续费：<i style="color:red">{$sumfee|default=0}元</i> -->
<!-- 					总建仓笔数：<i style="color:red">{$total_jc|default=0}</i> -->
<!-- 					总平仓笔数：<i style="color:red">{$total_pc|default=0}</i> -->
<!-- 					总持仓笔数：<i style="color:red">{$total_cc|default=0}</i> -->
<!-- 					总推广费用：<i style="color:red">{$rebate|default=0}元</i>  -->
				 
<!-- 					推广费用：<i style="color:red">{$sumfee}元</i> -->
<!-- 					总隔夜利息：<i style="color:red">{$sumgefee|abs}元</i> -->
<!-- 					</span>a href="__MODULE__/Index/olist">爆仓</a -->
                	<thead>
                        <tr>
                            <th class="span2 sortable">
                                <span class="line"></span>编号
                            </th>
							<th class="span3 sortable">
                                <span class="line"></span>用户[上级]
                            </th>
                            <th class="span3 sortable">
                                <span class="line"></span>操作时间
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>产品信息
                            </th>
						<!-- 	<th class="span2 sortable">
                                <span class="line"></span>数量(手)
                            </th> -->
                            <th class="span1 sortable">
                                <span class="line"></span>类型
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>方向
                            </th>							
                 <!--            <th class="span1 sortable">
                                <span class="line"></span>金额
                            </th> -->
                            <th class="span1 sortable">
                                <span class="line"></span>手续费
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>买价
                            </th>
                            <th class="span1 sortable">
                                <span class="line"></span>卖价
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>账户余额
                            </th>
                            <th class="span2 sortable">
                                <span class="line"></span>出入金
                            </th>			
							<th class="span1 sortable">
                                <span class="line"></span>盈亏
                            </th>
					<!-- 		<th class="span1 sortable">
                                <span class="line"></span>隔夜利息
                            </th> -->
							<th class="span2 sortable">
                                <span class="line"></span>操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ajaxback">
                    	<volist name="tlist" id="tl">
                    	<tr class="first">
							<td style="text-align: left;">
	                            {$tl.jno}
	                        </td>
	                        <td style="text-align: left;">
	                            <a href="{:U('User/updateuser',array('uid'=>$tl['uid']))}">{$tl.jusername}</a>[{$tl.oid}]
	                        </td>
	                        <td>{$tl.jtime|date='Y-m-d H:i:s',###}</td>
	                        <td>
	                        	<if condition='$tl.jtype eq "提现"'>
									0
								<elseif condition='$tl.jtype eq "充值"'/>
									0
								<else/>
									{$tl.remarks}
								</if>
	                        </td>
	 <!--                        <td>
	                        	<if condition='$tl.jtype eq "提现"'>
									0
								<elseif condition='$tl.jtype eq "充值"'/>
									0
								<else/>
									{$tl.number}手
								</if>
	                        </td> -->
	                        <td>
	                        	<if condition='$tl.jtype eq "平仓"'>
		                        	<span class="label label-info">平仓</span>
		                        <else/>
									<span class="label">建仓</span>
								</if>
	                        </td>
							<td>
								<if condition='$tl.jtype eq "提现"'>
									0
								<elseif condition='$tl.jtype eq "充值"'/>
									0
								<else/>
									<if condition='$tl.jostyle eq 1'>
		                                <span class="label label-success">买跌</span>
<!-- 		                                <font color="#2fb44e">买跌</font> -->
		                            	<else/>
										<span class="label label-cc">买涨</span>
<!-- 										<font color="#ed0000">买涨</font> -->
									</if>
								</if>
							</td>
<!-- 							<td>
								<if condition='$tl.jtype eq "提现"'>
									{$tl.juprice}
								<elseif condition='$tl.jtype eq "充值"'/>
									{$tl.juprice}
								<else/>
									{$tl['number']*$tl['juprice']}
								</if>
							</td> -->
                            <td>
                            	<if condition='$tl.jtype eq "提现"'>
									0
								<elseif condition='$tl.jtype eq "充值"'/>
									0
								<else/>
									{$tl.jfee}
								</if>
                            </td>
                            <td>
                            	<if condition='$tl.jtype eq "提现"'>
									0
								<elseif condition='$tl.jtype eq "充值"'/>
									0
								<else/>
									{$tl.jbuyprice}
								</if>
                            </td>
                            <td>
                            	<if condition='$tl.jtype eq "提现"'>
									0
								<elseif condition='$tl.jtype eq "充值"'/>
									0
								<else/>
									<if condition='$tl.jtype neq "建仓"'>
	                            		{$tl.jsellprice}
	                            	<else/>
										0.00
									</if>
								</if>
                            	
                            </td>
                            <td>{$tl.balance}</td>
							<td>
								<if condition='$tl.jtype eq "提现"'>
									-{$tl.juprice}
								<elseif condition='$tl.jtype eq "充值"'/>
									-{$tl.juprice}
								<else/>
									<if condition='$tl.jaccess egt 0'>
										+{$tl.jaccess}
									<else/>
										{$tl.jaccess}
									</if>
								</if>
							</td>
							<td>{$tl.jploss}

							</td>
					<!-- 		<td>
								<if condition='$tl.gefee neq ""'>
									{$tl.gefee}
								<else/>
									0.00
								</if>
							</td> -->
							<td>
								
								<a href="{:U('Order/ocontent',array('oid'=>$tl['iddd'],'jtype'=>$tl['jtype']))}">查看</a>
								<!--<a class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" onclick="getdatanow({$tl.jno})">更新</a> -->
	                        </td>
	                    </tr>
	                    </volist>
                	</tbody>
                </table>
                
				</div>
            </div>
            <div class="pagination pull-right">
                <ul>
                    {$show}
                </ul>
            </div>
            <!-- end users table -->
        </div>
    </div>
    <!-- end main container -->
<div id="loading" style="width: 100%;height: 105%;position: absolute;top: 0; z-index: 9999;display: none;">
	<div class="load-center" style="background: #000;position: absolute;width: 60%;height: 14%;bottom: 10%;border-radius: 10px;color: #fff;text-align: center;font-size: 24px;left: 17%;padding: 1%;">
		<img src="__IMG__/ajax-loading.jpg" alt="ajax-loading" width="40"/><br/>页面加载中...
	</div>
</div>



<!-- scripts -->

<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/bootstrap.datepicker.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
    $(function () {

        // datepicker plugin
        $('.datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>
<script type="text/javascript">
	$(document).ready(function(){
		var eqli = $("#dashboard-menu").children().eq(2);
		eqli.attr('class','active');
		$("#dashboard-menu .active .submenu").css("display","block");
		
		/** 
		 * 时间对象的格式化; 
		 */  
		Date.prototype.format = function(format) {  
		    /* 
		     * eg:format="yyyy-MM-dd hh:mm:ss"; 
		     */  
		    var o = {  
		        "M+" : this.getMonth() + 1, // month  
		        "d+" : this.getDate(), // day  
		        "h+" : this.getHours(), // hour  
		        "m+" : this.getMinutes(), // minute  
		        "s+" : this.getSeconds(), // second  
		        "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
		        "S" : this.getMilliseconds()  
		        // millisecond  
		    }  
		  
		    if (/(y+)/.test(format)) {  
		        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
		                        - RegExp.$1.length));  
		    }  
		  
		    for (var k in o) {  
		        if (new RegExp("(" + k + ")").test(format)) {  
		            format = format.replace(RegExp.$1, RegExp.$1.length == 1  
		                            ? o[k]  
		                            : ("00" + o[k]).substr(("" + o[k]).length));  
		        }  
		    }  
		    return format;  
		}
		
		//var now = new Date().format("MM/dd/yyyy");
		//$(".input-large").attr("value",now);
	});
	//搜索结果，ajax返回搜索框搜索结果
	$('#search_begin').click(function(){
		//获取文本框值
		var orderno = $("#orderno").val(),
			username = $("#username").val(),
			buytime = $("#buytime").val(),
		    ostyle = $("#ostyle  option:selected").val(),
			ploss = $("#ploss  option:selected").val(),
			ostaus = $("#ostaus option:selected").val();
			
		//alert(orderno+username+buytime+ostyle+ploss+ostaus);
		$.ajax({
			type: "post",
			url: "{:U('Order/tlist?step=search')}",
			data:{"orderno":orderno,"username":username,"buytime":buytime,"ostyle":ostyle,"ploss":ploss,"ostaus":ostaus},
			success: function(data){
				//console.log(data);
				if(data=="null"){
	            	//$("#loading").hide();
	            	$("#ajaxback").html('<tr class="first"><td colspan="14">没有找到结果，请重新输入！请检查输入的格式是否正确！</tr></td>');
	            }else{
	            	//$("#loading").hide();
	            	$olist = "";
		            $.each(data,function(no,items){
		            	$olist += '<tr class="first">';
		            	$olist += '<td>'+items.orderno+'</td>';
		            	$olist += '<td><a href="{:U(\'User/updateuser\')}?uid='+items.uid+'">'+items.username+'</a></td>';
		            	$olist += '<td>'+items.buytime+'</td>';
		            	$olist += '<td><a href="{:U(\'Goods/gedit\')}?pid='+items.pid+'">'+items.ptitle+'</a></td>';
		            	$olist += '<td>'+items.onumber+'手</td><td>';
		            	if(items.ostaus==1){
		            		$olist += '<span class="label label-info">平仓</span>';
		            	}else{
		            		$olist += '<span class="label">建仓</span>';
		            	}
		            	$olist += '</td><td>';
		            	if(items.ostyle==1){
		            		$olist += '<span class="label label-success">买涨</span>';
		            	}else{
		            		$olist += '<span class="label label-cc">买跌</span>';
		            	}
		            	$olist += '</td>';
		            	$olist += '<td><font color="#f00" size="3">'+items.buyprice+'</font></td>';
		            	$olist += '<td>';
		            	if(items.ostaus==1){
		            		$olist += '<font color="#f00" size="3">'+items.sellprice+'</font>';
		            	}else{
		            		$olist += '<span class="label">建仓中</span>';
		            	}
		            	$olist += '</td>';
		            	if(items.commission==""){
		            		$olist += '<td><font color="#f00" size="3">0.00</font></td>';
		            	}else{
		            		$olist += '<td><font color="#f00" size="3">'+items.commission+'</font></td>';	
		            	}
		            	$olist += '<td><font color="#f00" size="3">'+items.fee+'</font></td>';
		            	$olist += '<td>';
		            	if(items.ostaus==1){
		            		$olist += '<font color="#f00" size="4">'+items.ploss+'</font>';
		            	}else{
		            		$olist += '<span class="label">建仓中</span>';
		            	}
		            	$olist += '</td>';
		            	$olist += '<td><a href="{:U(\'Order/ocontent\')}?oid='+items.oid+'">查看</a></td>';
		            	$olist += '</tr>';
		            })
		            $("#ajaxback").html($olist);
	            }
			},
			error: function(data){
				console.log(data);
			}
		});
	})
	
	
	
	
	$('#top_search').keyup(top_serch);
	$('#sxsearch').click(top_serch);
	function top_serch(){
		//获取点击参数
		var urlkey = $(this).attr("urlkey");
		//获取文本框值
		var keywords = $("#top_search").val(),
		    sxkey = $("#sxkey  option:selected").val(),
			formula = $("#formula  option:selected").val(),
			sxvalue = $("#sxvalue").val();
		//重新定义提交url
		var newurl = "";
		if(urlkey == "search"){
			newurl = "{:U('Order/olist?step=search')}"
		}
		if(urlkey == "sxsearch"){
			newurl = "{:U('Order/olist?step=sxsearch')}"
		}
		$.ajax({
        type: "post",  
        url: newurl,    
        data:{"keywords":keywords,"sxkey":sxkey,"formula":formula,"sxvalue":sxvalue},
//      beforeSend:function(XMLHttpRequest){ 
//            //alert('远程调用开始...'); 
//            $("#loading").show(); 
//      },
        success: function(data) {
        	//$("#ajaxback").html(data);
            if(data=="null"){
            	//$("#loading").hide();
            	$("#ajaxback").html('<tr class="first"><td colspan="13">没有找到结果，请重新输入！请检查输入的格式是否正确！</tr></td>');
            }else{
            	//$("#loading").hide();
            	$olist = "";
	            $.each(data,function(no,items){
	            	$olist += '<tr class="first">';
	            	$olist += '<td>'+items.oid+'</td>';
	            	$olist += '<td><a href="{:U(\'User/updateuser\')}?uid='+items.uid+'">'+items.username+'</a></td>';
	            	$olist += '<td>'+items.buytime+'</td>';
	            	$olist += '<td><a href="{:U(\'Goods/gedit\')}?pid='+items.pid+'">'+items.ptitle+'</a></td>';
	            	$olist += '<td>'+items.onumber+'手</td><td>';
	            	if(items.ostaus==1){
	            		$olist += '<span class="label label-info">平仓</span>';
	            	}else{
	            		$olist += '<span class="label">建仓</span>';
	            	}
	            	$olist += '</td><td>';
	            	if(items.ostyle==1){
	            		$olist += '<span class="label label-success">买涨</span>';
	            	}else{
	            		$olist += '<span class="label label-cc">买跌</span>';
	            	}
	            	$olist += '</td>';
	            	$olist += '<td><font color="#f00" size="3">￥'+items.buyprice+'<font></td>';
	            	$olist += '<td>';
	            	if(items.ostaus==1){
	            		$olist += '<font color="#f00" size="3">￥'+items.sellprice+'<font>';
	            	}else{
	            		$olist += '建仓中';
	            	}
	            	$olist += '</td><td>';
	            	if(items.ostaus==1){
	            		$olist += '<font color="#f00" size="3">￥'+items.commission+'<font>';
	            	}else{
	            		$olist += '建仓中';
	            	}
	            	$olist += '</td>';
	            	$olist += '<td><font color="#f00" size="3">￥'+items.fee+'<font></td>';
	            	$olist += '<td>';
	            	if(items.ostaus==1){
	            		$olist += '<font color="#f00" size="4">￥'+items.ploss+'<font>';
	            	}else{
	            		$olist += '建仓中';
	            	}
	            	$olist += '</td>';
	            	$olist += '<td><a href="{:U(\'Order/ocontent\')}?oid='+items.oid+'">查看</a></td>';
	            	$olist += '</tr>';
	            })
	            $("#ajaxback").html($olist);
            }
            
            //console.log(data);
        },  
        error: function(data) {  
            console.log(data);
        }
      }); 
	}
	
$("#sxkey").bind("change",function(){
	var sxkey = $(this).val();
	switch(sxkey){
		case "orderno":
			$("#sxvalue").attr("placeholder","格式：不允许汉字");
			break;
		case "username":
			$("#sxvalue").attr("placeholder","格式：雁过留痕");
			break;
		case "buytime":
			$("#sxvalue").attr("placeholder","格式：1970-10-01");
			break;
		case "ostyle":
			$("#sxvalue").attr("placeholder","格式：买涨/买跌");
			break;
		case "ploss":
			$("#sxvalue").attr("placeholder","格式：数字格式");
			break;
		case "ostaus":
			$("#sxvalue").attr("placeholder","格式：建仓/平仓");
			break;
		default:
			$("#sxvalue").text("输入内容");
	}
	
})
function sub()
{
	$('#form1').attr("action","__URL__/daochu");
	$('#form1').submit();
	$('#form1').attr("action","__URL__/tlist");
	
}
function getdatanow(jno){
	$("#form22")[0].reset();
	$.ajax({
		url:"{:U('Order/getdatanow')}",
		type:"post",
		data:{'jno':jno},
		dataType:"json",
		success:function(data){
			$("#newbuyprice").val(data.jbuyprice);
			$("#nowjno").val(jno);
			$("#nowoid").val(data.oid);
			if(data.jtype == '平仓' || data.jtype == '止盈' || data.jtype == '止损'){
				$("#newsellprice").val(data.jsellprice)
				$("#newsellprice").removeAttr("readonly")
			}else{
				$("#newsellprice").val('0.00');
				$("#newsellprice").attr("readonly","true");
			}
			$("#newbalance").val(data.balance);
		}
	})
}
function gengxin(){
	if(confirm('是否确定更新')){
		var newbuyprice = $("#newbuyprice").val();
		var newsellprice = $("#newsellprice").val();
		var newbalance = $("#newbalance").val();
		var jno = $("#nowjno").val();
		var oid = $("#nowoid").val();
		$.ajax({
			url:"{:U('Order/gengxin')}",
			type:"post",
			data:{'jno':jno,'oid':oid,'buyprice':newbuyprice,'sellprice':newsellprice,'balance':newbalance},
			dataType:"json",
			success:function(data){
				if(data == 1){
					alert('更新成功');
				}else{
					alert('更新失败');
				}
				window.location.reload();
			}
		})
	}
}
</script>
<script>
	$('#myButton').on('click', function () {
		$("#form22").reset();
	})
</script>
</block>

<!-- <a href="{:U('Order/deldingdan',array('oid'=>$tl['iddd']))}">删除</a>  -->